@page "/AgentAdd";
@using MRMS.MAUI.Models;
@using MRMS.MAUI.Services;
@inject NavigationManager navigationManager
@inject AgentService agentService

<h3>Add New Agent</h3>
@if (errorMessage != null)
{
    <p class="text-danger">@errorMessage</p>
}



<EditForm Model="@newAgent" OnValidSubmit="@AddAgent">

    <MudCard>
        <MudCardContent>

            <MudTextField Label="Name" HelperText="Enter Your Full Name"
                          @bind-Value="newAgent.Name" For="@(() => newAgent.Name)" />
            <MudTextField Label="Email" Class="mt-3" HelperText="Enter your E-mail Address"
                          @bind-Value="newAgent.Email" For="@(() => newAgent.Email)" InputType="InputType.Email" />
            <MudTextField Label="Phone" HelperText="Enter your Phone Number" Class="mt-3"
                          @bind-Value="newAgent.Phone" For="@(() => newAgent.Phone)" InputType="InputType.Telephone" />

        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
        </MudCardActions>
    </MudCard>



@*
    <div class="form-group">
        <label for="name">Name:</label>
        <InputText class="form-control" id="name" @bind-Value="newAgent.Name" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <InputText type="email" class="form-control" id="email" @bind-Value="newAgent.Email" />
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <InputText type="text" class="form-control" id="phone" @bind-Value="newAgent.Phone" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Add Agent</button>*@

</EditForm>
<div class="d-flex mt-4">
    <a class="btn btn-link" href="agentView">Back to list</a>
</div>

@code {
    private Agent newAgent = new Agent();
    private string errorMessage;

    private async Task AddAgent()
    {
        var response = await agentService.AddAgentAsync(newAgent);

        if (response.IsSuccessStatusCode)
        {
            // success
            Console.WriteLine($"the id of the user is: {response}");
            navigationManager.NavigateTo("agentView");
        }
        else
        {
            // not success
            Console.WriteLine(response);
            errorMessage = $"Failed to add agent: {response.ReasonPhrase}";
        }
        //if (!response.IsSuccessStatusCode)
        //{
        //    errorMessage = $"Failed to add agent: {response.ReasonPhrase}";

        //}
        //else
        //{
        //    errorMessage = null;
        //    navigationManager.NavigateTo("/agentView");
        //}
    }
}
