@page "/agentIndex"
@using System.Net.Http.Json
@using MRMS.MAUI.Models;
@using MRMS.MAUI.Services;

@inject AgentService agentService

<h3>Agent Index</h3>

@*<MudTable Items="@agents" Dense="true" Bordered="true">
    <HeaderContent>
        <MudTh>Nr</MudTh>
        <MudTh>Sign</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Position</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.AgentId</MudTd>
        <MudTd DataLabel="Sign">@context.Name</MudTd>
        <MudTd DataLabel="Name">@context.Email</MudTd>
        <MudTd DataLabel="Position">@context.Phone</MudTd>
    </RowTemplate>
</MudTable>*@

<MudDataGrid T="Agent" Items="@agents" MaxWidth="800" Bordered="true" Dense="true" Hover="true" Striped="true" ColumnResizeMode="ResizeMode.Column" RowsPerPage="5">
        <Columns>
            <PropertyColumn Property="x => x.AgentId" Title="Id" Resizable="false" />
            <PropertyColumn Property="x => x.Name" />
            <PropertyColumn Property="x => x.Email" />
            <PropertyColumn Property="x => x.Phone" />
        </Columns>
        <PagerContent>
            <MudDataGridPager T="Element" PageSizeOptions=@(new int[] {5, 10, 20}) />
        </PagerContent>
    </MudDataGrid>





@*<MudDataGrid T="Agent" Items="@agents" HorizontalScrollbar="true" Bordered="true" Dense="true" ColumnResizeMode="@ResizeMode.Column" RowsPerPage="5">
    <Columns>
        <PropertyColumn Property="x => x.AgentId" Title="Id" Resizable="false" />
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.Email" />
        <PropertyColumn Property="x => x.Phone" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Element" PageSizeOptions=@(new int[] {5, 10, 20}) />
    </PagerContent>
</MudDataGrid>*@


@code {
    private IEnumerable<Agent> agents;

    private bool _resizeColumn;

    protected override async Task OnInitializedAsync()
    {
        agents = await agentService.GetAgentsAsync();
    }
}